### YamlMime:ManagedReference
items:
- uid: TcOpen.Inxton.Data.Json.JsonRepositorySettings`1
  commentId: T:TcOpen.Inxton.Data.Json.JsonRepositorySettings`1
  id: JsonRepositorySettings`1
  parent: TcOpen.Inxton.Data.Json
  children:
  - TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.#ctor(System.String)
  - TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.Location
  langs:
  - csharp
  - vb
  name: JsonRepositorySettings<T>
  nameWithType: JsonRepositorySettings<T>
  fullName: TcOpen.Inxton.Data.Json.JsonRepositorySettings<T>
  type: Class
  source:
    remote:
      path: src/TcoData/src/Repository/Json/Json/JsonRepositoryParameters.cs
      branch: 162-Create_integration_testing_project
      repo: https://github.com/TcOpenGroup/TcOpen.git
    id: JsonRepositorySettings
    path: ../TcOpen/src/TcoData/src/Repository/Json/Json/JsonRepositoryParameters.cs
    startLine: 4
  assemblies:
  - TcOpen.Inxton.Data.Json
  namespace: TcOpen.Inxton.Data.Json
  syntax:
    content: 'public class JsonRepositorySettings<T> : RepositorySettings'
    typeParameters:
    - id: T
    content.vb: >-
      Public Class JsonRepositorySettings(Of T)
          Inherits RepositorySettings
  inheritance:
  - System.Object
  - TcOpen.Inxton.Data.RepositorySettings
  inheritedMembers:
  - System.Object.ToString
  - System.Object.Equals(System.Object)
  - System.Object.Equals(System.Object,System.Object)
  - System.Object.ReferenceEquals(System.Object,System.Object)
  - System.Object.GetHashCode
  - System.Object.GetType
  - System.Object.MemberwiseClone
  nameWithType.vb: JsonRepositorySettings(Of T)
  modifiers.csharp:
  - public
  - class
  modifiers.vb:
  - Public
  - Class
  fullName.vb: TcOpen.Inxton.Data.Json.JsonRepositorySettings(Of T)
  name.vb: JsonRepositorySettings(Of T)
- uid: TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.#ctor(System.String)
  commentId: M:TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.#ctor(System.String)
  id: '#ctor(System.String)'
  parent: TcOpen.Inxton.Data.Json.JsonRepositorySettings`1
  langs:
  - csharp
  - vb
  name: JsonRepositorySettings(String)
  nameWithType: JsonRepositorySettings<T>.JsonRepositorySettings(String)
  fullName: TcOpen.Inxton.Data.Json.JsonRepositorySettings<T>.JsonRepositorySettings(System.String)
  type: Constructor
  source:
    remote:
      path: src/TcoData/src/Repository/Json/Json/JsonRepositoryParameters.cs
      branch: 162-Create_integration_testing_project
      repo: https://github.com/TcOpenGroup/TcOpen.git
    id: .ctor
    path: ../TcOpen/src/TcoData/src/Repository/Json/Json/JsonRepositoryParameters.cs
    startLine: 7
  assemblies:
  - TcOpen.Inxton.Data.Json
  namespace: TcOpen.Inxton.Data.Json
  syntax:
    content: public JsonRepositorySettings(string repositoryLocation)
    parameters:
    - id: repositoryLocation
      type: System.String
    content.vb: Public Sub New(repositoryLocation As String)
  overload: TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.#ctor*
  nameWithType.vb: JsonRepositorySettings(Of T).JsonRepositorySettings(String)
  modifiers.csharp:
  - public
  modifiers.vb:
  - Public
  fullName.vb: TcOpen.Inxton.Data.Json.JsonRepositorySettings(Of T).JsonRepositorySettings(System.String)
- uid: TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.Location
  commentId: P:TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.Location
  id: Location
  parent: TcOpen.Inxton.Data.Json.JsonRepositorySettings`1
  langs:
  - csharp
  - vb
  name: Location
  nameWithType: JsonRepositorySettings<T>.Location
  fullName: TcOpen.Inxton.Data.Json.JsonRepositorySettings<T>.Location
  type: Property
  source:
    remote:
      path: src/TcoData/src/Repository/Json/Json/JsonRepositoryParameters.cs
      branch: 162-Create_integration_testing_project
      repo: https://github.com/TcOpenGroup/TcOpen.git
    id: Location
    path: ../TcOpen/src/TcoData/src/Repository/Json/Json/JsonRepositoryParameters.cs
    startLine: 12
  assemblies:
  - TcOpen.Inxton.Data.Json
  namespace: TcOpen.Inxton.Data.Json
  syntax:
    content: public string Location { get; }
    parameters: []
    return:
      type: System.String
    content.vb: Public ReadOnly Property Location As String
  overload: TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.Location*
  nameWithType.vb: JsonRepositorySettings(Of T).Location
  modifiers.csharp:
  - public
  - get
  modifiers.vb:
  - Public
  - ReadOnly
  fullName.vb: TcOpen.Inxton.Data.Json.JsonRepositorySettings(Of T).Location
references:
- uid: TcOpen.Inxton.Data.Json
  commentId: N:TcOpen.Inxton.Data.Json
  name: TcOpen.Inxton.Data.Json
  nameWithType: TcOpen.Inxton.Data.Json
  fullName: TcOpen.Inxton.Data.Json
- uid: System.Object
  commentId: T:System.Object
  parent: System
  isExternal: true
  name: Object
  nameWithType: Object
  fullName: System.Object
- uid: TcOpen.Inxton.Data.RepositorySettings
  commentId: T:TcOpen.Inxton.Data.RepositorySettings
  parent: TcOpen.Inxton.Data
  name: RepositorySettings
  nameWithType: RepositorySettings
  fullName: TcOpen.Inxton.Data.RepositorySettings
- uid: System.Object.ToString
  commentId: M:System.Object.ToString
  parent: System.Object
  isExternal: true
  name: ToString()
  nameWithType: Object.ToString()
  fullName: System.Object.ToString()
  spec.csharp:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object)
  commentId: M:System.Object.Equals(System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object)
  nameWithType: Object.Equals(Object)
  fullName: System.Object.Equals(System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object,System.Object)
  commentId: M:System.Object.Equals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object, Object)
  nameWithType: Object.Equals(Object, Object)
  fullName: System.Object.Equals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.ReferenceEquals(System.Object,System.Object)
  commentId: M:System.Object.ReferenceEquals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: ReferenceEquals(Object, Object)
  nameWithType: Object.ReferenceEquals(Object, Object)
  fullName: System.Object.ReferenceEquals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetHashCode
  commentId: M:System.Object.GetHashCode
  parent: System.Object
  isExternal: true
  name: GetHashCode()
  nameWithType: Object.GetHashCode()
  fullName: System.Object.GetHashCode()
  spec.csharp:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetType
  commentId: M:System.Object.GetType
  parent: System.Object
  isExternal: true
  name: GetType()
  nameWithType: Object.GetType()
  fullName: System.Object.GetType()
  spec.csharp:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.MemberwiseClone
  commentId: M:System.Object.MemberwiseClone
  parent: System.Object
  isExternal: true
  name: MemberwiseClone()
  nameWithType: Object.MemberwiseClone()
  fullName: System.Object.MemberwiseClone()
  spec.csharp:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System
  commentId: N:System
  isExternal: true
  name: System
  nameWithType: System
  fullName: System
- uid: TcOpen.Inxton.Data
  commentId: N:TcOpen.Inxton.Data
  name: TcOpen.Inxton.Data
  nameWithType: TcOpen.Inxton.Data
  fullName: TcOpen.Inxton.Data
- uid: TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.#ctor*
  commentId: Overload:TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.#ctor
  name: JsonRepositorySettings
  nameWithType: JsonRepositorySettings<T>.JsonRepositorySettings
  fullName: TcOpen.Inxton.Data.Json.JsonRepositorySettings<T>.JsonRepositorySettings
  nameWithType.vb: JsonRepositorySettings(Of T).JsonRepositorySettings
  fullName.vb: TcOpen.Inxton.Data.Json.JsonRepositorySettings(Of T).JsonRepositorySettings
- uid: System.String
  commentId: T:System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.Location*
  commentId: Overload:TcOpen.Inxton.Data.Json.JsonRepositorySettings`1.Location
  name: Location
  nameWithType: JsonRepositorySettings<T>.Location
  fullName: TcOpen.Inxton.Data.Json.JsonRepositorySettings<T>.Location
  nameWithType.vb: JsonRepositorySettings(Of T).Location
  fullName.vb: TcOpen.Inxton.Data.Json.JsonRepositorySettings(Of T).Location
